.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.form-container {
  max-width: 400px;
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.form-container:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.dynamic-btn {
  transition: background-color 0.3s, transform 0.3s;
}

.dynamic-btn:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}
